<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/apps/index.html">&laquo; Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-node-index") %>>
					<a href="/docs/apps/node/index.html">Node.js App Type</a>
				</li>

				<hr>

				<li<%= sidebar_current("docs-node-detect") %>>
					<a href="/docs/apps/node/detect.html">Detection</a>
				</li>

				<li<%= sidebar_current("docs-node-dev") %>>
					<a href="/docs/apps/node/dev.html">Development</a>
				</li>

				<li<%= sidebar_current("docs-node-deploy") %>>
					<a href="/docs/apps/node/deploy/index.html">Build & Deploy</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-node-deploy-aws") %>>
							<a href="/docs/apps/node/deploy/aws.html">AWS</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-node-customization") %>>
					<a href="/docs/apps/node/customization.html">Customization</a>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
