<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("what") %>>
					<a href="/intro/index.html">What is Otto?</a>
				</li>

				<li<%= sidebar_current("vagrant") %>>
					<a href="/intro/vagrant-successor.html">The Successor to Vagrant</a>
				</li>

				<li<%= sidebar_current("vs-other") %>>
					<a href="/intro/vs/index.html">Otto vs. Other Software</a>
					<ul class="nav">
						<li<%= sidebar_current("vs-other-chef") %>>
							<a href="/intro/vs/chef-puppet-etc.html">Chef, Puppet, etc.</a>
						</li>

						<li<%= sidebar_current("vs-other-custom") %>>
							<a href="/intro/vs/custom.html">Custom Solutions</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("gettingstarted") %>>
					<a href="/intro/getting-started/install.html">Getting Started</a>
					<ul class="nav">
						<li<%= sidebar_current("gettingstarted-install") %>>
							<a href="/intro/getting-started/install.html">Install Otto</a>
						</li>

						<li<%= sidebar_current("gettingstarted-dev") %>>
							<a href="/intro/getting-started/dev.html">Develop</a>
						</li>

						<li<%= sidebar_current("gettingstarted-infra") %>>
							<a href="/intro/getting-started/infra.html">Infrastructure</a>
						</li>

						<li<%= sidebar_current("gettingstarted-build") %>>
							<a href="/intro/getting-started/build.html">Build</a>
						</li>

						<li<%= sidebar_current("gettingstarted-deploy") %>>
							<a href="/intro/getting-started/deploy.html">Deploy</a>
						</li>

						<li<%= sidebar_current("gettingstarted-deps") %>>
							<a href="/intro/getting-started/deps.html">Dependencies</a>
						</li>

						<li<%= sidebar_current("gettingstarted-teardown") %>>
							<a href="/intro/getting-started/teardown.html">Teardown</a>
						</li>

						<li<%= sidebar_current("gettingstarted-nextsteps") %>>
							<a href="/intro/getting-started/next-steps.html">Next Steps</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
